.container {
  width: 22%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  cursor: pointer;
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-primary);
}

.price {
  font-size: 1.8rem;
  font-weight: bold;
  color: #666;
}

.desc {
  text-align: center;
  color: #777;
}

@media only screen and (max-width: 30em) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 3rem;
  }

  .price,
  .desc {
    font-size: 2.4rem;
  }
}
