.container {
  height: calc(100vh - 10rem);
  display: flex;
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgContainer {
  width: 80%;
  height: 80%;
  position: relative;
}

.right {
  flex: 1;
  padding: 2rem;
}

.price {
  font-weight: 400;
  font-size: 2.4rem;
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.desc {
  margin: 1rem 0;
}

.choose {
  margin-bottom: 1rem;
}

.sizes {
  width: 40%;
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.size {
  width: 3rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
}

.size:nth-child(2) {
  width: 4rem;
  height: 4rem;
}

.size:last-child {
  width: 5rem;
  height: 5rem;
}

.number {
  position: absolute;
  top: -5px;
  right: -20px;
  background-color: #008080;
  color: var(--color-white);
  font-size: 1.2rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
}

.ingredients {
  display: flex;
  margin-bottom: 3rem;
}

.option {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.checkbox {
  width: 2rem;
  height: 2rem;
}

.quantity {
  width: 5rem;
  height: 3rem;
}

.button {
  border: none;
  outline: none;
  display: inline-block;
  height: 3rem;
  padding: 0 1rem;
  margin-left: 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
}

@media only screen and (max-width: 30em) {
  .container {
    height: auto;
    text-align: center;
    flex-direction: column;
    margin-top: 2rem;
  }

  .imgContainer {
    width: 70vw;
    height: 70vh;
  }

  .title {
    margin: 0.5rem;
  }

  .sizes {
    width: 100%;
    padding: 0 2rem;
  }

  .ingredients {
    flex-direction: column;
  }

  .option {
    margin: 1rem;
    font-size: 1.8rem;
  }

  .checkbox {
    width: 2.5rem;
    height: 2.5rem;
  }

  .quantity,
  .button {
    height: 5rem;
    padding: 1rem 2rem;
  }
}
